.location-content {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap if needed */
    gap: 20px; /* Adjust spacing between the items */
}

.location-content--item {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    gap: 6rem;
    margin-bottom: 4rem;
}
.row-reverse{
  flex-direction: row-reverse;
}

.location-content--image {
    flex: 1;
}

.location-content--text {
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 3rem 0;
}

.locations-selector--list{
  justify-content: center;
  align-items: center;
   position: sticky;
  position: -webkit-sticky;
   top: 68px;
   z-index: 1;
   background: white;
   padding: 2rem 0;
  display: flex;
  margin-bottom: 8rem;
}
.locations-selector--list .grid__item{
  align-items: center;
  text-align: center;
  padding: 10px; 
  background-color: #f7f7f7; 
  border-radius: 5px; 
  text-decoration: none; 
  color: #333;
}

.location-content--phone, .location-content--email{
  align-items: center;
  width: fit-content;
}  
.location-content--cta {
  background-color: #222;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.location-content--btn{
  width: max-content;
}
.location-content--cta:hover,
.location-content--cta:focus {
    background-color: #fff;
    color: #222;
    border: 1px solid;
}
.location-content--title{
  font-family: EB Garamond, serif;
  font-size: 4rem;
  line-height: 120%;
  margin: 1rem 0;
  text-transform: uppercase;
}
.location-content--address{
  font-size: 1.6rem;
  font-weight: 300;
}
.uc {
  text-transform: uppercase;
}
.location-content--textarea{
  flex-direction: column;
}
@media (max-width: 749px) {
  .locations-selector--list .grid__item{
    font-size: 1rem;
  }
.location-content--item {
  display: block;
}
.locations-selector--list{
  margin-bottom: 4rem;
}
.location-content--title{
  font-size: 3rem;
}
}
